// --------------------
// Global Variables
// --------------------
$global-font-size: 16px;
$font-family-base: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
$font-family-en: 'Cormorant Infant', serif;

$container-width: 1240px;
$container-inside: 1200px;

$bp_tab_max_width: 991;
$bp_sp_max_width: 768;

// layout setting
$pc_min_width: 1000px;
$pc_max_width: 1160px;

// $pc_top_visual_padding_top: 400px;
$pc_top_visual_padding_top: 56.25%; // 16:9
$sp_top_visual_padding_top: 56.25%; // 16:9

$pc_top_visual_min_height: 400px;
$pc_top_visual_max_height: 675px;
$sp_top_visual_min_height: 300px;
$sp_top_visual_max_height: 600px;

$pc_top_content_side_padding: 20px;
$sp_top_content_side_padding: 3.5%;

$pc_page_content_side_padding: 20px;
$sp_page_content_side_padding: 20px;

$pc_page_sidebar_width: 310px;
$pc_page_sidebar_margin: 50px;
$pc_page_sidebar_padding: 40px;

// --------------------
// Global Colors
// --------------------
$color-font-base: #000000;
$color-gray: #F4F5F5;
$color-white: #ffffff;
$color-dark-gray: #686C6E;
$color-border: #707070;
$color-light-gray: #AAADAF;
$color-light-plus-gray: #CBCBCB;
$color-dark-blue: #0C1B1E;
$color-cream: #EDEAE0;
$color-border-bottom: #91999D;
$color-rose: #EA6060;
$color-dark-gray-plus:#585E60;
$color-tag: #ECEFEF;

// ======= # DEVICE BREAKPOINT # ======= //
$breakpoint-sm: 540px;
$breakpoint-md: 768px;
$breakpoint-lg: 860px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1366px;
